@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #df4738;
}

.form-select option {
  background-color: #fff;
  color: #333;
  padding: 10px;
}

.form-select option:hover {
  background-color: #df4738 !important;
  color: #fff !important;
}

.form-select option:checked {
  background-color: #df4738 !important;
  color: #fff !important;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.details_slider_thumb_item {
  background: none;
}

.details_slider_thumb_item img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.menu_item li a {
  font-size: 15px !important;
  cursor: pointer !important;
}

.product_item_2 {
  height: 435px !important;
}

.product_img {
  width: 250px !important;
  height: 250px !important;
}

.product_img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.product_item_2 .product_img {
  background: none !important;
}

.footer_logo_area span a:hover {
  color: white !important;
}

.shop_details_additional_info table tr th {
  border-right: none !important;
}

.range-slider {
  position: relative;
  width: 250px;
  height: 40px;
  border: none !important;
}

.range-slider input[type="range"] {
  position: absolute;
  width: 100%;
  pointer-events: none;
  background: none;
  appearance: none;
  border: none;
}

.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 16px;
  height: 16px;
  background: #df4738;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

.range-slider .full-track {
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  background: #df4738;
  transform: translateY(-50%);
  border-radius: 5px;
}

.thumb-value {
  position: absolute;
  top: 28px;
  background: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 16px;
  transform: translateX(-50%);
  white-space: nowrap;
  font-weight: 600;
  color: #333;
}