@media (max-width: 575.98px) {
  .product_img img {
    width: 100px !important;
    height: 100px !important;
    object-fit: contain !important;
    margin-left: 35px !important;
    margin-top: 15px !important;
  }

  .product_item_2 {
    height: 280px !important;
    padding: 0 !important;
  }

  .product_page_top_button {
    display: none !important;
  }

  .product_page_sorting {
    flex-wrap: nowrap !important;
  }

  .category_item img {
    width: 100px !important;
  }

  .category_2 .category_item h3 {
    font-size: 12px !important;
  }

  .mobile_menu_header {
    margin-top: 0px !important;
  }

  .promobanner1 {
    margin-bottom: 20px !important;
  }

  .farming_text p {
    margin-bottom: 10px !important;
  }

  .videosec {
    padding-top: 20px !important;
  }

  .youtubecontent h1 {
    padding-top: 15px !important;
  }

  .footer_link h3 {
    margin-top: 10px !important;
  }
}