.mobile-bottom-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #fff;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #eaeaea;
  z-index: 9999;
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.tab-item span {
  font-weight: 500;
  color: #555;
}

.tab-item svg {
  font-size: 20px;
}

.tab-item.active {
  color: #DB4437;
}

.tab-item.active span {
  color: #DB4437;
}

@media (max-width: 768px) {
  .mobile-bottom-tab {
    display: flex;
  }

  body {
    padding-bottom: 60px;
  }
}