.searchForm {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50px;
  max-width: 600px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}

.searchSelect {
  flex: 0 0 200px;
  width: 160px;
  height: 100%;
  padding-left: 10px;
  border: none;
  border-right: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 15px;
  outline: none;
}

.searchInput {
  flex: 1;
  border: none;
  padding: 0 18px;
  outline: none;
  font-size: 15px;
  height: 100%;
  background-color: none;
}

.searchBtn {
  border: none;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBtn:hover {
  background: #333;
}